.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/user_guide_src/
#user_guide_src/build/*
#user_guide_src/cilexer/build/*
#user_guide_src/cilexer/dist/*
#user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/_infomation/
/_temp/

/phpunit/
/tests/

/config.php
/web.config
/pu/
tests/
/wunit/
/_tests/
/test/
*.db
*.log

/sdUI_information/
/_upload/files/*
!/_upload/files/readme.txt
/_upload/flash/*
!/_upload/flash/readme.txt
/_upload/images/*
!/_upload/images/readme.txt
/testupload/
/_images/photos/


#wincache缓存
/_cache/*
!/_cache/readme.txt

#短信日志
/_sms/log/*
/_sms/log/readme.txt

/_inc/mail/docs/
/_inc/mail/examples/
/_inc/mail/test/
/_inc/mail/test_script/

*.dat

/temp/
